body{
    font-family: "Lato", sans-serif;
    background-color: lightblue;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
#Sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color:green;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
#Sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:#ffffff;
    display: block;
    transition: 0.3s;
  }
#Sidenav a:hover{
  color: #000000;
}
#Sidenav .closebtn{
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
    background-color:green;
    border:none;
}
#Sidenav .closebtn:hover{
  background-color:red;
  border-radius:2px;
}
@media screen and (max-height: 450px){
    #Sidenav {padding-top: 15px;}
    #Sidenav a {font-size: 18px;}
}
#Trends{
    height:100%;
    width:300px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    border-radius: 10px;
    padding:10px;
    background-color:lightgreen;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    align-content: center;
    align-items: center;

}
#Trends h2{
  text-align: center;
  color:#ffffff;
}
#Article
{
  align-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 0px;
  padding-top: 5px;
}
#Article img{
  align-items: center;
  border-radius:5px;
}
#Trends a{
  text-decoration: none;
  color:blue;
}
.bottom_info
{
    background-color:navy;
    color: white;
}
.IMP_links
{
    padding:10px 50px;
    margin: 0px 0px 0px 100px;
    display:inline-block;
    border-right: 1px solid white;
    border-left: 1px solid white;
}
.IMP_links ul
{
    display:inline-block;
    font: 1em sans-serif;
    line-height: 25px;
}
.Get_touched
{
    margin-top: 0px;
    display: inline-block;
    padding:0px 30px 30px 30px;
    border-right: 1px solid white;
}
.Get_touched_up a
{
    color:white;
    text-decoration: none;
}
.footer_location a
{
    color:black;
    background-color: white;
    padding:5px 100px;
    border-radius: 5px;
    text-decoration:none;
}
.footer_location a:hover
{
    background-color: red;
    color:white;
}
.Get_touched_up
{
    display: inline-block;
}